DB_URL="mongodb+srv://hats-dfbfgbnf:fBcHPfmiLbudnggfnfnfUA4QM@cluster0.pekpvn6.mongodb.net/hats-master?appName=Cluster0"
PORT=4000
ACCESS_TOKEN_SECRET="sdfhgjkfhjgfdsgh"
ACCESS_TOKEN_EXPIRES_IN="1d"
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="465"
SMTP_USER="alsuefrgejon20s02@gmail.com"
SMTP_EMAIL="info@hatsmaster.com"
SMTP_PASSWORD="lhcnsvnwcfdvsvsvbfvwpfvrjbnqk"


CLOUDNARY_CLOUD_NAME="dnjrsvvso8xe99"
CLOUDNARY_API_KEY="6753911sdsd413836822"
CLOUDNARY_API_SECRET="yqz8T4yoOsvsv-3r-sazY1aQlRTo56cc"
# CLOUDNARY_URL="CLOUDINARY_URL=cloudinary://675391141383682:**********@dnjro8xe9"
COMPANY_GMAIL="alsujon20sv02@gmail.com"
GMAIL_APP_PASSWORD="lhcsvn qdqqsvvsvsvsvsvsvnwwp fvrj bnqk"

ADMIN_EMAIL="vaxfcvdvsvsaoba.com"
ADMIN_PASSWORD="12svsdv345678"